<% if recruit.favorited_by?(current_user) %>
<%= link_to recruit_favorite_path(recruit, recruit.favorites.find_by(user_id: current_user.id)), method: :delete, remote: true do %>
<p>
  <i>応募</i>
  <%= recruit.favorites.count %>
  <% end %>
</p>
<% else %>
<p>
  <%= link_to recruit_favorites_path(recruit), method: :post, remote: true do %>
  <i>応募</i>
  <%= recruit.favorites.count %><% end %>
</p>
<% end %>