<div class="row top">
	<div class="col-12 text-center align-self-center title
	" style="background-color:#DAA25A;">
   <h1 class="text-white font-italic">Fensers</h1>
   <h4 class="text-white">fencing普及のために</h4>
	</div>

	<div class="col-12">
		<div class="contain">
			<%= link_to "Login", new_user_session_path, :class => 'login_button'  %>
		</div>
	</div>
</div>
<div class="row main bg-white">
	<div class="col-12">
		<div class="about">
		  <h1 class="about-main">Fensersとは</h1>
		  <h4 class="about-text">
			  	Fensersはフェンシングの大会運営専用の投稿ができるSNSサービスです。<br>
			  	審判やスタッフの募集をするだけではなく<br>
			  	友達と共有したり、同じ大会に行った仲間の投稿を見ることができたりと<br>
	　　　　 その人に合った参加の仕方で利用していただけますと幸いです。<br>
					大会をもっとスムーズに運営するために、関係者の交流を忘れないために<br>
					Fencersを作成しました。
		  </h4>
		  <div class="wrapper">
		  	<%= link_to "今すぐ始める！", new_user_registration_path, :class => 'button-signup'  %>
			</div>
		</div>
	</div>
</div>