/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 // Custom bootstrap variables must be set or imported *before* bootstrap.
 @import "bootstrap";
 @import "notifications";

 // #container {
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   margin: 0 auto;
// }

// #container #nav {
//   list-style: none;
//   display: flex;
// }

// .head {
//   width: ;
// }



body {
	font-family: 'Noto Sans JP', sans-serif;
  }


.container-fluid{
width:100%
}

.wrap {
    position: relative;
    height: auto !important; /*IE6対策*/
    height: 100%; /*IE6対策*/
    min-height: 100%;
    padding-bottom: 60px;
}

.sidebar{
  height:200vh;
  position:-webkit-sticky;
  position:sticky;
  top:0;
}

.sidebar li{
  padding:10px 0px;
  font-size:30px;
  color:#DAA25A;
  text-shadow: 0px 5px 3px #555;
}

li:hover{
  background-color: #696969;
  transiton: 1.0s;/*1.0秒かける*/
}


.background{
  background-image: image-url("fence.jpg");
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}



.copy_right{
  margin-top:20px;
  position: absolute;
  left:100px;
}


.top-text{
  color:white;
  text-shadow: 0px 5px 4px #DAA25A;
}



.rounded-circle{
    width:40px;
    height:40px;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
}


.answer {
  font-size: 12px;
  padding: 5px 0px;
  margin-bottom: 15px;
  display: none;
}

footer { 
  width: 100%; 
  eight: 60px; 
  background-color: #999; 
  position: fixed; 
  bottom: 0; 
  
}